body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: rgb(19, 22, 31);
}

h1 {
    color: #FFF;
}

.box {
    background: rgb(255, 149, 0);
    border-radius: 30px;
    padding: 30px;
    margin: 20px;
    color: #FFF
}

.box_startDate {
    float: left;
    margin-left: 2%;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline;
}

.box_endDate {
    float: right;
    margin-right: 2%;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline;
    
}

.box_submit {
    padding: 1%;
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    align-self: center;
}

.lower_box {
    background: rgb(255, 149, 0);
    border-radius: 30px;
    padding: 30px;
    margin: 20px;
    color: #FFF;
}

.statistics {
    display: flex;
    flex-direction: row;
    background: rgb(255, 149, 0);
    padding: 2px;
    margin: 20px;
    color: #FFF
}

.statistics_box {
    background: rgb(9, 12, 20);
    border-radius: 30px;
    padding: 20px;
    margin: 5px;
}